<html>
<head><title>Student
</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-color:gray">
<div class="container">
<div class="rows" >
<div class="col-sm-12" align="Center">
<H1>Welcome to the Library</H1>
</div>
<div class="col-sm-12" align="right">
<button style="margin-right:8px">Home</button>
<button style="margin-right:8px">Profile</button>
<button style="margin-right:8px">Dashboard</button>
<button style="margin-right:8px">LogOut</button>
</div><br><br><br>
<div class="col-sm-6" >
<p>Show the list of all books available in the library
<a href="book.html">Click here</a></p>
</div>
<p id="list"></p>
</div>
</div>
<script>
      /*   var name=new URL(location.href).searchParams.get('name');
        var passsword=new URL(location.href).searchParams.get('passsword');
	 	var xhttp = new XMLHttpRequest(); 
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var result = this.responseText;
				var obj = JSON.parse(result);
				alert("Student is : " + obj['Name'] + "  " + obj['rollNo']);
			}
		};
		xhttp.open("GET","http://localhost:9090/Firstwebapp/rest/password/getJson/"+password, true);
		xhttp.send();
 */
</script>
</body>
</html>